<h2><%= @cocktail.name %></h2>

<ul>
  <%  @cocktail.doses.each do |dose| %>
    <li>
      <%= dose.description %>
      <%= dose.ingredient.name %>
      <%= link_to dose_path(dose),
                  method: :delete,
                  data: {confirm: "Are you sure?"} do %>
                  <i class="far fa-trash-alt"></i>
      <% end %>
    </li>
  <% end %>
</ul>
<hr>
<%= link_to "Go back", cocktails_path %> |
<%= link_to "Add ingredients",  new_cocktail_dose_path(@cocktail)%>


