<% content_for :nav, render('components/navbar-show') %>

<div class="cocktail-show-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @cocktail.photo.key, crop: :fill %>')">
  <h1 class="text-center"><%= @cocktail.name.downcase %></h1>
</div>


<div class="container-show">
  <div class="row m-0">
    <div class="show-section col-12 col-lg-8 mt-4">
      <h3>Ingredients:</h3>
      <ul>
        <%  @cocktail.doses.each do |dose| %>
          <li>
            <%= dose.description %>
            <%= dose.ingredient.name %>
            <%= link_to dose_path(dose),
                        method: :delete,
                        data: {confirm: "Are you sure?"} do %>
                        <i class="far fa-trash-alt"></i>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="show-section col-12 col-lg-4 mt-4 mb-4">
      <h5>Add a new ingredient:</h5>
      <%= render 'doses/form' %>
    </div>
  </div>

  <div class="show-section col-12 col-lg-8 my-4">
    <h3>Reviews:</h3>

    <% if @cocktail.reviews.empty? %>
      <p class="my-4">There are no reviews for this cocktail yet. Add one!</p>
    <% end %>


    <%  @cocktail.reviews.each do |review| %>
      <div class="card-review mt-2">
        <p class="p-1"> <%= review.name %> | Rating: <%= review.rating %></p>
        <p class="p-1"> <%= review.content %> </p>
      </div>
    <% end %>
    <br>
    <h5 class="mt-4">Add a review</h5>
    <%= render 'reviews/form' %>
  </div>
</div>

<hr>
<div class="text-center my-4">
  <%= link_to "Back to all cocktails", cocktails_path %>
</div>
